apiVersion: v1
kind: Service
metadata:
  labels:
    app: apache-activemq
  name: apache-activemq
spec:
  clusterIP: None
  ports:
  - port: 8161
    name: web-ui
  - port: 9000
    name: exporter
  - port: 5672
    name: amqp
  selector:
    app: activemq
